* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFF7ED;
}


/* Header static content styling */


header {
    display: flex;
    align-items: center;
    padding: 26px;
    height: 110px;
}

.title {
    font-weight: 900;
    font-size: 1.6rem;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a.selected {
    text-decoration: underline;
}

header>nav {
    display: flex;
    gap: 12px;
    margin-left: auto;
}

header>nav>a {
    color: #4D4D4D;
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
}

/* Main content  */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.home-container {
    display: flex;
    flex-direction: column;
    padding: 66px 26px;
    background-image: url("/images/van-home.png");
    background-color: rgba(0, 0, 0, 0.46);
    background-blend-mode: darken;
    background-position: top;
    background-size: cover;

    color: white;
}

h2 {
    font-weight: 800;
    font-size: 2.25rem;
    flex-wrap: wrap;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 23px;
}

.home-container>section {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.home-container>section>span {
    font-weight: 500;
    line-height: 24px;
}

.home-container>section>button {
    background-color: #FF8C38;
    border: none;
    border-radius: 5px;
    min-height: 50px;

    color: white;
    font-weight: 700;
    font-size: 1rem;

}

article {
    width: 100%;
}

article>section {
    padding: 48px 26px;
}

article>section>p {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 22px;
    color: #161616;
    margin-top: 0;
}

.image-container {
    width: 100%;
    min-height: 235px;
}

.image-container>img {
    width: 100%;
    object-fit: cover;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
    flex-wrap: wrap;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 32px;
}

div.button-container {
    display: flex;
    flex-direction: column;
    padding: 32px 37px;

    border-radius: 5px;

    background-color: #FFCC8D;
}

div.button-container>h4 {
    margin-top: 0;
    margin-bottom: 25px;
    white-space: pre-line;

    font-weight: 700;
    font-size: 1.6rem;
}

div.button-container>button {
    align-self: flex-start;
    background-color: #161616;
    border: none;
    border-radius: 10px;
    color: white;

    padding: 12px 22px;

    line-height: 24px;
    font-weight: 700;
    font-size: 1rem;
}

.van-title {
    padding-left: 25px;
    width: 100%;
}

.van-filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    width: 100%;
    padding: 25px;
}

.van-filter-button {
    background-color: #FFEAD0;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    padding: 6px 26px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
}

.van-clear-filter-button {
    background: none;
    border: none;
    text-decoration: underline;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;

    /* Move this button to the right most possible. */
    margin-left: auto;
}

.van-list {
    padding: 25px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 32px;
    width: 100%;
    list-style: none;

    /* van info text */
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 32px
}

ul>li>img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.van-info-container {
    display: flex;
    margin-bottom: 10px;
}

.van-name {
    flex-grow: 1;
}

.van-price-container {
    text-align: right;
}

.van-price-subtext {
    line-height: 5px;
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 0.9rem;
}

.van-tag {
    padding: 8px 14px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}

.simple {
    background-color: #E17654;
}

.rugged {
    background-color: #115E59;
}

.luxury {
    background-color: #161616;

}


/* Footer styling */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    height: 75px;

    color: #AAAAAA;
    font-weight: 500;
    font-size: 0.9rem;
}